form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.inputs {
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  margin: 0.5rem 0;
}

.inputs:focus {
  border: 2px solid #ccc;
}

.radios {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  gap: 5rem;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioLabel {
  font-size: 1.7rem;
  user-select: none;
}

.radio .radioCircle {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin-right: 0.5rem;
}

.inner {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s;
}

.active .inner {
  opacity: 1;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: #0369a1;
  color: #ecfeff;
  margin-top: 2rem;
}
