.transactions {
  padding: 1rem;
}
.transactions h2 {
  padding: 1rem;
  color: #52525b;
}

.transactions input {
  padding: 1rem 2rem;
  border: no;
}

.transactions input {
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  margin: 0.5rem 0;
}

.transactions input:focus {
  border: 2px solid #ccc;
}
